
<div class="fw-card">
	<div class="container fw-card__container">
		<div class="fw-preview fw-preview--colour fw-card__preview" style="background-color:{{hex}};"></div>
		<dl class="fw-details fw-card__details">
			<dt>{{title}}</dt>
			<dd><code>{{_name}}</code></dd>
			<dd><code>{{hex}}</code></dd>
			<dd><code>rgb({{rgb.r}}, {{rgb.g}}, {{rgb.b}})</code></dd>
		</dl>
	</div>
</div>
