
<div id="{{fid true}}" class="fw-card">
	<div class="container fw-card__container">
		<div class="fw-preview fw-preview--font fw-card__preview">
			<div class="">
				Aa
			</div>
			<div class="">
				​‌A​‌B​‌C​‌Ć​‌Č​‌D​‌Đ​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌Š​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌Ž​‌a​‌b​‌c​‌č​‌ć​‌d​‌đ​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌š​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌ž​‌Ă​‌Â​‌Ê​‌Ô​‌Ơ​‌Ư​‌ă​‌â​‌ê​‌ô​‌ơ​‌ư​‌1​‌2​‌3​‌4​‌5​‌6​‌7​‌8​‌9​‌0​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&amp;​‌&lt;​‌-​‌+​‌÷​‌×​‌=​‌&gt;​‌®​‌©​‌$​‌€​‌£​‌¥​‌¢​‌:​‌;​‌,​‌.​‌*
			</div>
		</div>
		<dl class="fw-details fw-details--inline fw-card__details">
			<dt>{{family}}</dt>
			<dt>Weight</dt>
			<dd>{{weight}}</dd>
			<dt>Style</dt>
			<dd>{{style}}</dd>
		</dl>
	</div>
	<style>
		#{{fid}} .fw-preview
		{
			font-weight			: {{weight}};
			font-style			: {{style}};
			font-family			: {{family}};
		}
	</style>
</div>
