
<div class="container">
	<h3>{{title}}</h3>
	{{#if desc}}
	<div class="fw-description">
		{{{desc}}}
	</div>
	{{/if}}
	{{#if preview}}
		<figure>
			<a href="{{preview}}" download>
				<img src="{{preview}}" alt="">
			</a>
		</figure>
	{{/if}}
</div>
