
{{#HasObjectKey @root.styles.variables "category" category}}
	<div class="container">
		<h3>{{title}}</h3>
		{{#if desc}}
		<div class="fw-description">
			{{{desc}}}
		</div>
		{{/if}}
		<div class="grid grid--gutters grid--3@md grid--5@lg">
			{{#LoopObjectKey @root.styles.variables "category" category}}
			<div class="grid__item">
				{{> (lookup . 'type') }}
			</div>
			{{/LoopObjectKey}}
		</div>
	</div>
{{/HasObjectKey}}
