{{!--
	"layout"					: "templates",
	"title"						: "Brand"
--}}

<h1 class="fw-title">{{title}}</h1>
<p>[TODO] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore hic, voluptatibus, assumenda dolore alias repudiandae quia est reiciendis obcaecati veniam itaque cupiditate eius dicta ipsa, nulla debitis iure consectetur quidem.</p>



{{#if styles.variables}}
<h1 class="fw-title h4">Primary Colours</h1>
<div class="grid grid--gutters grid--3@md grid--5@lg">
	{{#each styles.variables}}
		{{#equal this.group 'primary-colour' }}
			<div class="grid__item">
				{{> (lookup . 'type') }}
			</div>
		{{/equal}}
	{{/each}}
</div>

<h1 class="fw-title h4">Secondary Colours</h1>
<div class="grid grid--gutters grid--3@md grid--5@lg">
	{{#each styles.variables}}
		{{#equal this.group 'secondary-colour' }}
			<div class="grid__item">
				{{> (lookup . 'type') }}
			</div>
		{{/equal}}
	{{/each}}
</div>

<h1 class="fw-title h4">Tertiary Colours</h1>
<div class="grid grid--gutters grid--3@md grid--5@lg">
	{{#each styles.variables}}
		{{#equal this.group 'tertiary-colour' }}
			<div class="grid__item">
				{{> (lookup . 'type') }}
			</div>
		{{/equal}}
	{{/each}}
</div>
{{/if}}

<h1 class="fw-title h2">Fonts</h1>
<div class="grid grid--gutters grid--2@lg">
	{{#each styles.sections}}
		{{#ifCond group '==' 'Typography/Fonts'}}
			<div class="grid__item">
				{{> (lookup . 'type') }}
			</div>
		{{/ifCond}}
	{{/each}}
</div>

{{#if icons}}
<h1 class="fw-title h2">Icons</h1>
<div class="grid grid--gutters grid--3@md grid--6@lg">
	{{#each icons}}
	<div class="grid__item">
		<div class="fw-card fw-card--icon">
			<div class="container fw-card__container">
				<div class="fw-preview fw-preview--icon fw-card__preview">
					{{icon @key}}
					<div>
						<span class="fw-label">{{@key}}</span>
					</div>
				</div>
				<!--
				<dl class="fw-details fw-card__details">
					<dt>{{display}}</dt>
				</dl>
				-->
			</div>
		</div>
	</div>
	{{/each}}
</div>
{{/if}}

