{{!--
	"layout"					: "templates",
	"title"						: "Modules"
--}}

{{#extend "sidenav"}}
	<nav class="nav nav--tmp nav--tmp-spaced">
		<ul class="nav__level nav__level-1">
		{{#each _partials}}
			<li class="nav__item {{#ifCond url '==' ../path}}active{{/ifCond}} {{#if children}}nav__children{{/if}}">
				<a href="{{url}}" target="main">
					<span class="nav__text">{{tidyname display name}}</span>
				</a>
				{{#if children}}
					<ul class="nav__level nav__level-2">
						{{#each children}}
						<li class="nav__item {{#ifCond url '==' ../../path}}active{{/ifCond}}">
							<a href="{{url}}" target="main"><span class="nav__text">{{tidyname display name}}</span></a>
						</li>
						{{/each}}
					</ul>
				{{/if}}
			</li>
		{{/each}}
		</ul>
	</nav>
{{/extend}}

<h1 class="fw-title">{{title}}</h1>
<p>[TODO] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore hic, voluptatibus, assumenda dolore alias repudiandae quia est reiciendis obcaecati veniam itaque cupiditate eius dicta ipsa, nulla debitis iure consectetur quidem.</p>

