{{!--
	"layout"					: "templates",
	"title"						: "Index"
--}}

<h1 class="fw-title">{{title}} <span class="fw-label">{{version}}</span></h1>
<p>[TODO] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi et quae cum doloremque ratione architecto expedita, voluptatibus sequi placeat blanditiis inventore deserunt ipsa reiciendis aut nam rerum, commodi molestiae minus!</p>

{{#*inline "mainview"}}

<div id="{{slugify _group}}-{{slugify title}}" style="padding-bottom:3rem;margin-bottom:3rem;border-bottom:1px solid #ccc;">
	<!-- Documented Item Title -->
	<h2 class="fw-title h3">
		<span class="media">
			<span class="media__figure">
				<a href="#{{slugify _group}}-{{slugify title}}">
					{{icon 'link' 'sm'}}
				</a>
			</span>
			<span class="media__body">
				{{title}}
			</span>
		</span>
	</h2>

	<!-- Description -->
	{{#if desc}}
	<div class="fw-description">
		{{{desc}}}
	</div>
	{{/if}}

	{{#if this.todo.length }}
	<div class="msg msg--warning" style="margin-bottom:2rem;">
		<div class="container msg__container">
			<div class="msg__body">
				<div class="media">
					<div class="media__figure">
						<div class="align-center">
							{{icon 'warning'}}
							<b class="fw-label" style="margin:0;display:block;">TODO</b>
						</div>
					</div>
					<div class="media__body">
						<ul>
							{{#each this.todo }}
							<li>{{this}}</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

	{{#if partial}}
		<div class="fw-card fw-card--example">
			{{> (lookup . 'partial') }}
		</div>
	{{else}}
		{{> msg/msg-warning
			content				= "No dynamic partial"
		}}
	{{/if}}

	{{#if _markup}}
		<!-- Output the default markup -->
		<div class="fw-card fw-card--example {{wrapperclass}}">
			{{#styleguide_modifier}}
				{{{../_markup}}}
			{{/styleguide_modifier}}
		</div>
		{{#if modifiers}}
			{{#each modifiers}}
				<!-- Modifier Title -->
				<h2 class="fw-title h4">
					<span class="fw-label" style="text-transform: initial;">{{this.class}}</span>
					{{this.desc}}
				</h2>
				<!-- Modifier Example -->
				<div class="fw-card fw-card--example">
				{{#styleguide_modifier class}}
					{{{../../_markup}}}
				{{/styleguide_modifier}}
				</div>
			{{/each}}
		{{/if}}

		{{#ifCond source '!=' false}}
		<div class="fw-source">
			<div class="align-right">
				<button class="btn btn--default">{{icon 'view-show' 'sm'}} View Source</button>
				<!--
				<button class="btn btn--default" title="Copy to Clipboard">{{icon 'view-show' 'sm'}}</button>
				-->
			</div>
			<div class="fw-source__source">
				<pre><code class="language-html">{{_markup}}</code></pre>
			</div>
		</div>
		{{/ifCond}}

	{{else}}
		{{!--
		<div class="msg msg--info">
			<div class="container msg__container">
				<div class="msg__body">
					<p>No Example provided</p>
				</div>
			</div>
		</div>
		--}}
	{{/if}}

	<!-- Any Tags -->
	{{#if tags}}
		<div style="margin-bottom:2rem;">
			<nav class="{{modifiers "nav" "tags"}}">
				<ul>
				{{#each tags}}
					<li><a href="/styleguide/?tag={{this}}">{{this}}</a></li>
				{{/each}}
				</ul>
			</nav>
		</div>
	{{/if}}

	<!-- Developer Notes -->
	<p><code class="fw-label">{{ this._file }} @ line {{ this._line }}</code></p>

	<dl>
		{{#if this.group }}
		<dt>Group</dt>
		<dd>{{ this.group }}</dd>
		{{/if}}

		{{#if this.author.length }}
		<dt>Author</dt>
		<dd>
			<ul class="list list--unstyled">
				{{#each this.author }}
				<li>{{ this }}</li>
				{{/each}}
			</ul>
		</dd>
		{{/if}}

		{{#if this.since.length }}
		<dt>Since</dt>
		<dd>
			<ul class="list list--unstyled">
				{{#each this.since }}
				<li>
					<b>{{ this.version }}</b>
					{{ this.description }}
				</li>
				{{/each}}
			</ul>
		</dd>
		{{/if}}

		{{#if this.link.length }}
		<dt>Links</dt>
		<dd>
			<ul class="list list--unstyled">
				{{#each this.link }}
				<li>
					{{#if this.caption}}
						<a href="{{this.url}}">{{this.caption}}</a>
					{{else}}
						<a href="{{this.url}}">{{this.url}}</a>
					{{/if}}
				</li>
				{{/each}}
			</ul>
		</dd>
		{{/if}}
	</dl>

</div>

{{/inline}}


{{#each styles.sections}}
	<div>
		{{#if type}}
			{{> (lookup . 'type') }}
		{{else}}
			{{> mainview}}
		{{/if}}
	</div>
{{/each}}


<div class="grid grid--gutters grid--3@md grid--4@lg">

	{{#if settings.templates}}
	<div class="grid__item">
		<div class="fw-page">
			<div class="fw-page__container">
				<div class="fw-page__preview">
					<img src="/assets-framework/media/dashboard/template.svg" alt="">
				</div>
				<div class="fw-page__body">
					<h3 class="fw-title fw-page__title"><a href="/templates/">Templates</a></h3>
					<p>[description]</p>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

	{{#if settings.modules}}
	<div class="grid__item">
		<div class="fw-page">
			<div class="fw-page__container">
				<div class="fw-page__preview">
					<img src="/assets-framework/media/dashboard/viewer.svg" alt="">
				</div>
				<div class="fw-page__body">
					<h3 class="fw-title fw-page__title"><a href="/modules/">Modules</a></h3>
					<p>[description]</p>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

	{{#if settings.reports}}
	<div class="grid__item">
		<div class="fw-page">
			<div class="fw-page__container">
				<div class="fw-page__preview">
					<img src="/assets-framework/media/dashboard/report.svg" alt="">
				</div>
				<div class="fw-page__body">
					<h3 class="fw-title fw-page__title"><a href="/reports/">Reports</a></h3>
					<p>[description]</p>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

	{{#if settings.styleguide}}
	<div class="grid__item">
		<div class="fw-page">
			<div class="fw-page__container">
				<div class="fw-page__preview">
					<img src="/assets-framework/media/dashboard/style.svg" alt="">
				</div>
				<div class="fw-page__body">
					<h3 class="fw-title fw-page__title"><a href="/styleguide/">Styleguide</a></h3>
					<p>[description]</p>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

	{{#if settings.brand}}
	<div class="grid__item">
		<div class="fw-page">
			<div class="fw-page__container">
				<div class="fw-page__preview">
					<img src="/assets-framework/media/dashboard/brand.svg" alt="">
				</div>
				<div class="fw-page__body">
					<h3 class="fw-title fw-page__title"><a href="/brand/">Brand</a></h3>
					<p>[description]</p>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

	{{#if settings.styles}}
	<div class="grid__item">
		<div class="fw-page">
			<div class="fw-page__container">
				<div class="fw-page__preview">
					<img src="/assets-framework/media/dashboard/css.svg" alt="">
				</div>
				<div class="fw-page__body">
					<h3 class="fw-title fw-page__title"><a href="/styles/">CSS Docs</a></h3>
					<p>[description]</p>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

	{{#if settings.scripts}}
	<div class="grid__item">
		<div class="fw-page">
			<div class="fw-page__container">
				<div class="fw-page__preview">
					<img src="/assets-framework/media/dashboard/js.svg" alt="">
				</div>
				<div class="fw-page__body">
					<h3 class="fw-title fw-page__title"><a href="/scripts/">JS Docs</a></h3>
					<p>[description]</p>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

</div>
